/* Soluzione qui */

/* bonus section  */
@media screen and (min-width:576px) {
    .presentation img {
        float: left;
        margin-right: 10px;
    }

    .btn {
        padding-inline: 40px;
    }

    .social-networks {
        justify-content: space-around;
        gap: 5px;
    }

}

@media screen and (min-width:768px) {
    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-title {
        font-size: 20px;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        flex-basis: calc(100% / 3 - 15px);
    }

    .social-networks {
        justify-content: space-around;
        gap: 5px;
    }

    .btn {
        padding-inline: 50px;
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 10px;
    }
}

@media screen and (min-width:992px) {

    .recipe-title {
        font-size: 30px;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-basis: 70%;
    }

    .recipe-info {
        flex-basis: 30%;
    }

    .recipe-video {
        height: 30vw;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}