/* Soluzione qui */
@media screen and (min-width:768px) {
    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-title {
        width: 100%;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        flex-basis: calc(100% / 3 - 15px);
    }

    .social-networks {
        justify-content: space-around;
        gap: 5px;
    }

    .btn {
        padding-inline: 50px;
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 10px;
    }
}